- content_for :head do
  = branding_css(@branding)

%header.profile
  %h1= @portfolio.header.title
  %h2= @portfolio.header.tagline
  .intro
    - @portfolio.header.intro.lines.each do |line|
      %p= line
- if @portfolio.user_projects_with_user_activity.any?
  %section#my-projects
    - @portfolio.user_projects_with_user_activity.each do |project|
      .project
        %h3.heading
          .star-count= number_with_delimiter project.star_count
          .name= link_to project.name, project.url
          .language.parens= project.language
          .role-title= project.user_role
          .contribution-percent= project.user_contribution_percentage
        .sub-heading
          .description= project.description
          .time-period-duration= project.reporting_period
        .activity
          - if project.user_resolved_issues.any?
            %section.resolved-issues
              %h4
                Personally Resolved Issues and PRs
                %span.parens= "#{project.user_resolved_issues.size} of #{project.issues.size}"
              %ul
                - project.user_resolved_issues[0,5].each do |issue|
                  %li.issue
                    .issue-number= link_to "##{issue.number}", issue.url
                    .issue-title= issue.title
                    .issue-state.parens= issue.state
          - if project.user_triaged_issues.any?
            %section.triaged-issues
              %h4
                Personally Triaged Issues and PRs
                %span.parens= "#{project.user_triaged_issues.size} of #{project.unresolved_issue_count}"
              %ul
                - project.user_triaged_issues[0,5].each do |issue|
                  %li.issue
                    .issue-number= link_to "##{issue.number}", issue.url
                    .issue-title= issue.title
                    .issue-state.parens= issue.state
          - if project.user_commits.any?
            %section.user-commits
              %h4
                .count= "#{pluralize(project.stats.commit_count_user, 'Commit')} Authored"
              %ul
                - project.user_commits.each do |commit|
                  %li.commit
                    .commit-sha= link_to commit.short_sha, commit.url
                    .commit-message-subject= commit.message_subject
                    -# .commit-message-body= commit.message_body
        .overall-statistics
          %ul
            - if project.version.present?
              %li.version
                .label= "Version #{project.version}"
            %li.total-commit-count
              .label= "#{pluralize(project.stats.commit_count_total, 'commit')}"
            %li.project-created
              .label= "Created #{project.created_month_year}"
            - if project.version.present?
              %li.release-age
                .label= "Released #{project.version.age} ago"
- if @portfolio.other_projects_with_user_activity.any?
  %section#other-projects
    - @portfolio.other_projects_with_user_activity.each do |project|
      .project
        %h4.heading
          .star-count= number_with_delimiter project.star_count
          .name= link_to project.full_name, project.url
        .sub-heading
          .description= project.description
        .activity
          - if project.user_pull_requests.any?
            %section.pull-requests
              %h4
                Pull Requests
                %span.parens= "#{project.user_pull_requests_accepted.size} of #{project.user_pull_requests.size} accepted"
              %ul
                - project.user_pull_requests.each do |issue|
                  %li.issue
                    .issue-number= link_to "##{issue.number}", issue.url
                    .issue-title= issue.title
                    .issue-state.parens= issue.state
          - if project.user_opened_issues.any?
            %section.issues-opened
              %h4
                Issues Opened
                %span.parens= project.user_opened_issues.size
              %ul
                - project.user_opened_issues.each do |issue|
                  %li.issue
                    .issue-number= link_to "##{issue.number}", issue.url
                    .issue-title= issue.title
                    .issue-state.parens= issue.state
          - if project.user_commits.any?
            %section.user-commits
              %h4
                Authored Commits
                %span.parens= project.user_commits.size
              %ul
                - project.user_commits[0,5].each do |commit|
                  %li.commit
                    .commit-sha= link_to commit.short_sha, commit.url
                    .commit-message-subject= commit.message_subject
                    .commit-message-body= commit.message_body
          - if project.user_comments.any?
            %section.user-comments
              %h4
                Recent Comments
                %span.parens= project.user_comments.size
              %ul
                - project.user_comments.each do |comment|
                  %li.comment
                    .comment-preview= comment.preview
